*{
    margin: 0;
    padding: 0;
}

#header-logo{
    display: flex;
    background-color: black;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: white;
    
}

#menu{
    display: flex;
    color: white;
}

.p-class{
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: black;
}

#header-submenu{
    margin-left: 430px;
    margin-top: 35px;
}

.submenu{
    margin-left: 50px;
    color: white;
}

#header-menu{
    margin-top: 35px;
    margin-left: 550px;
}


footer{
    display: flex;
    background-color: black;
}

#footer-list{
    color: white;
    display: flex;
}

#footer-submenu-1{
    margin-left: 600px;
    margin-top: 35px;
}

#footer-submenu-2{
    margin-left: 300px;
    margin-top: 20px;
}

.image-container {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.image-slide {
    justify-content: center;
    width: 650px;
    height: 300px;
    background-image: url('image1.jpg');
    background-size: cover;
    background-position: center;
    animation: slideImages 9s infinite;
}

@keyframes slideImages {
    0% {
        background-image: url('./image-1.avif');
    }
    33% {
        background-image: url('./image-2.jpg');
    }
    66% {
        background-image: url('./image-3.jpg');
    }
    100% {
        background-image: url('./image-4.avif');
    }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.wrapper {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #008aff; */
}
#wrapper_box{
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
  }

  .wrapper .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .wrapper .nav .current-date {
    font-size: 24px;
    font-weight: 600;
  }

  .wrapper .nav button {
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #878787;
  }

  .calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }
  .calendar .weeks li {
    font-weight: 500;
  }
  .calendar .days {
    margin-bottom: 20px;
  }

  .calendar ul li {
    width: calc(100% / 7);
    position: relative;
  }

  .calendar .days li {
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
  }

  .days li.inactive {
    color: #aaa;
  }

  .days li.active {
    color: #fff;
  }
  .calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .days li:hover::before {
    background: #f2f2f2;
  }